<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="MySqlConnexion" connectionString="Server=420.cstj.qc.ca;userid=aeroplus;password=AP228855;database=420.5a5.a16_aeroplus"></add>-->
    <add name="MySqlConnexion" connectionString="Server=localhost;userid=root;password=;database=airambe"></add>
  </connectionStrings>
</configuration>